<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acharya.habbaregistration">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/final_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/final_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen.SplashScreen"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreen.HomeScreen"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Apl.Apl"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Habba"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Login.Login"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UploadImage.UImageActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>
    </application>

</manifest>